@font-face{
    font-family: 'Montserrat';
    src: url('../../vendors/fonts/Montserrat/Montserrat-Regular.ttf') format('truetype');
}@font-face{
    font-family: 'Montserrat-bold';
    src: url('../../vendors/fonts/Montserrat/Montserrat-Bold.ttf') format('truetype');
}@font-face{
    font-family: 'Myriad';
    src: url('../../vendors/fonts/Myriad/Myriad-Pro-Regular.ttf') format('truetype');
}@font-face{
    font-family: 'Calibri';
    src: url('../../vendors/fonts/Calibri/calibrib.ttf') format('truetype');
}

.font-fam-Montserrat{
    font-family: 'Montserrat', sans-serif;
}
.solidtopath{
    background: none;
    border: 2px solid #333;
}
.font-fam-Montserrat-bold{
    font-family: 'Montserrat-bold', sans-serif;
}
.font-fam-Myriad{
    font-family: "Segoe UI";
}
.font-fam-Calibri{
    font-family: "Calibri";
}