.center{
    overflow: auto;
    margin: auto;
    position: absolute;
    top:0; left:0; bottom: 0; right: 0;
}
.btn-outline-secondary:hover{
    background: #444;
    border:1px solid #444;
}
.deactivate{
    pointer-events: none;
    cursor: not-allowed;
}
.active{
    pointer-events: none;
    cursor: not-allowed;
    background-color: lighten($blac,10%);
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none; 
    margin: 0; 
}
input[type=number] {
    -moz-appearance:textfield;
}
input::placeholder {
    opacity: .5 !important;
}
.pointer{
    cursor:pointer;
}
ul{
    padding: 0 !important;
    margin: 0 !important;
}
li{
    text-decoration: none !important;
    list-style-type: none !important;
    cursor:pointer;
    &.actparent{
        box-shadow:  200px 200px 20px lighten($blac, 50%)  inset;
        color: white !important;
    }
}
.excerpt{
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.zindex{
    z-index: 200 !important;
}
.zback{
    z-index: -200 !important;
}
.c-fixed{
    position: fixed;
}
.ovflo-y{
    overflow-y: auto;
}
.abs{
    position: absolute;
}
.relatv{
    position: relative;
}
.notvisible {
    opacity: 0;
    visibility:hidden;
}
.gone{
    display: none !important;
}
.notgone{
    display: block !important;
}
.vanish {
    opacity: 0;
    /*display:none;*/
}
.clr{
    clear: both;
}
.row{
    margin: 0 !important;
}
button.btnnone{
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
}
.anim{
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    &-fast{
        -webkit-transition: all 0.3s ease;
        -moz-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
        transition: all 0.3s ease;
    }
    &-slow{
        -webkit-transition: all 0.7s ease;
        -moz-transition: all 0.7s ease;
        -o-transition: all 0.7s ease;
        transition: all 0.7s ease;
    }
}
.text-strike{
    text-decoration: line-through;
}