
            <!--....... Guest Start ......... -->
            <div class="w-100" ng-if="settings.modal.active == 'Guest'">
                <div class="w-100" ng-if="settings.modal.name == 'Add Guest'">
                    <div class="py-4 w-100 row justify-content-between m-0 px-5">
                        <form class = 'w-40 addGuestForm pr-5' autocomplete = "off">

                            <input class="clearinput form-control w-100 font-fam-Montserrat text-center d-block my-3" placeholder="Name" name="guest_name"  ng-model="guest.inputs.guest_name"/>

                            <input class="clearinput form-control w-100 font-fam-Montserrat text-center d-block my-3" ng-model="guest.inputs.phone" placeholder="Phone Number" name="phone_number" type="number" onkeydown="javascript: return event.keyCode !=69 && event.keyCode !=189 && event.keyCode !=109" name="room_number" />

                            <textarea class="clearinput form-control w-100 font-fam-Montserrat text-center d-block my-3" placeholder="Address"  ng-model="guest.inputs.contact_address" name="contact_address" ></textarea>

                            <div class = "row">
                                <input ng-model = 'guest.roomgrid.averagenyt' class="form-control col-5 font-fam-Montserrat text-center d-block my-2" placeholder="Nights" name="average_no_of_nights" ng-change = "guest.roomgrid.nytdate = (guest.roomgrid.averagenyt | intervalGetDate); guest.roomgrid.change_averagenyt()" type="number" onkeydown="javascript: return event.keyCode !=69 && event.keyCode !=189 && event.keyCode !=109" />
                                <input ng-model = 'guest.roomgrid.nytdate' class="form-control offset-1 col-6 font-fam-Montserrat text-center d-block my-2" placeholder="leaving" name="leaving_date" onkeydown="javascript: return false" />
                            </div>

                            <div class="row justify-content-between">
                                <div class = "col-5 p-0 my-3 text-center">
                                    <input ng-model="guest.inputs.deposited" class="clearinput form-control w-100 font-fam-Montserrat text-center m-0 d-block my-3" placeholder="Deposit"
                                    name="deposited" type="number"  onkeydown="javascript: return event.keyCode !=69 && event.keyCode !=189 && event.keyCode !=109"/>
                                </div>
                                <div class = "col-6 p-0 text-center">
                                    <select class="form-control methpay my-3 w-100 f-13" name="means_of_payment">
                                        <option selected value="Cash">Cash</option>
                                        <option value="Cheque">Cheque</option>
                                        <option value="POS">POS</option>
                                        <option value="Credit">Credit</option>
                                    </select>
                                </div>
                            </div>

                            <div class="row justify-content-around w-100 py-3">
                                <span class="py-1">
                                    <input type="radio" class="clearinput " ng-model = "guest.inputs.guest_type_gender" id="male" value="male" checked name="guest_type_gender" />
                                    <label for="male" class="f-15 ml-2">Male</label>
                                </span>
                                <span class="py-1">
                                    <input type="radio" class="clearinput " value="female" ng-model = "guest.inputs.guest_type_gender" name= "guest_type_gender" id="female" />
                                    <label for="female" class="f-15 ml-2">Female</label>
                                </span>
                            </div>

                        </form>
                        
                        <div class = 'w-60 {{!guest.roomgrid.averagenyt ? "deactivate" : null}}' >
                            <div ng-switch on = 'guest.roomgrid.activated' class = "table-bordered">
                                <div ng-switch-when = 'false'>
                                    <div class='row w-100 py-2 text-center purp-back wht opac-70 m-0'>
                                        <h6 class='col-3 f-15 text-left'>Category</h6>
                                        <h6 class='col-6 f-15'>Rooms Available</h6>
                                        <h6 class='col-3 f-15'>No. Rooms</h6>
                                    </div>
                                    <div ng-repeat = "rm in guest.roomgrid.room_details.rooms" class='row w-100 text-center b-1 pointer'>
                                        <h6 class='col-3 py-4 f-14 text-left' ng-click = "guest.roomgrid.activate(rm.name);">{{rm.name | capitalize}}</h6>
                                        <p class='col-6 py-4 f-13' ng-click = "guest.roomgrid.activate(rm.name);">{{rm.count}}</p>
                                        <span class='pr-2 py-4 pl-3 col-3'><input  ng-model = "guest.roomgrid.room_details.rooms[rm.name].num" ng-change = " guest.roomgrid.room_details.selectrooms(rm.name)" class='clearinput formcontrol w-100 text-center' name = 'noroom' ng-disabled="!guest.roomgrid.averagenyt"  type="number" onkeydown="javascript: return event.keyCode !=69 && event.keyCode !=189 && event.keyCode !=109"/></span>
                                    </div>
                                </div>
                                <div ng-switch-when = 'true'>
                                    <div class='row w-100 py-2 text-center purp-back wht opac-70 m-0'>
                                        <h6 class='col-3 f-15 text-left pointer' ng-click='guest.roomgrid.deactivate()'>Back</h6>
                                        <h6 class='col-9 f-15 text-right'>{{guest.roomgrid.type}}</h6>
                                    </div>
                                    <div class='row w-100 text-center'>
                                        <ul class="w-100">
                                            <li ng-repeat = 'room in guest.roomgrid.room_details.rooms[guest.roomgrid.type].arr' class = "w-100 row"  ng-class = "{'sechue anim' : guest.roomgrid.reservedyes == room.room_id, 'lytpurp-back' : room.selected && guest.roomgrid.reservedyes != room.room_id}">
                                                <span ng-click = "room.selected = room.selected ? false : true; guest.roomgrid.room_details.toggleroom();" class="col-2 py-2 roomno text-left">{{room.room_number}}</span>
                                                <span ng-click = "room.selected = room.selected ? false : true; guest.roomgrid.room_details.toggleroom();" class="col-3 py-2 roomno">{{room.room_rate}}</span>
                                                <span ng-click = "room.selected = room.selected ? false : true; guest.roomgrid.room_details.toggleroom();" class="col-4 py-2 roomno">{{(guest.roomgrid.roomid[room.room_id] | intervalGetDate)}}</span>
                                                <span class="col-3 py-2 nights text-right"><input ng-model = 'guest.roomgrid.roomid[room.room_id]' ng-init = "guest.roomgrid.roomid[room.room_id] = room.no_of_nights" class='clearinput formcontrol w-100 text-center' name = 'no_of_nights' ng-change = "guest.roomgrid.room_details.change_nyt_no(room.room_id); " type="number" onkeydown="javascript: return event.keyCode !=69 && event.keyCode !=189 && event.keyCode !=109"/></span>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="row w-100 px-0 py-2 justify-content-between dark-back">
                                <div class = "w-50 row p-0">
                                    <h6 class="col-5">Rooms</h6>
                                    <h6 class="col-7 text-center">{{guest.roomgrid.room_info.rooms}}</h6>
                                </div>
                                <div class = "w-50 row p-0 text-right">
                                    <h6 class="col-5">Cost</h6>
                                    <h6 class="col-7">{{guest.roomgrid.room_info.cost}}</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer w-100">
                        <div class="justify-content-center w-100 d-flex flex-column">
                            <div class="py-1 row justify-content-center w-100">
                                <div ng-class="{gone : !settings.modal.adding}"><img src="./assets/img/loader.gif" width="100px"
                                        height="70px" /></div>
                                <button type="button" class="{{settings.modal.adding ? 'gone' : ''}} b-0 btn btn-success"
                                    ng-disabled = "!guest.inputs.phone || !guest.inputs.contact_address || !guest.inputs.deposited ||!guest.inputs.guest_name ||!guest.inputs.guest_type_gender ||guest.roomgrid.room_info.cost == 0" onclick="addGuest()">
                                    {{settings.modal.name | limitTo:3}}
                                </button>
                            </div>
                            <div class="row pt-3 justify-content-center">
                                <p class="{{settings.modal.msgcolor}} report f-14">{{settings.modal.msg}}</p>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="w-100" ng-if="settings.modal.name == 'Update Guest'">
                    <form autocomplete="off" class="updateGuestForm p-4 w-100">
                        <div class="float-left w-45 inpRead row m-0">
                            <input class="clearinput user form-control font-fam-Montserrat text-center d-block my-4" placeholder="Guest Name"
                                name="guest_name" readonly />
                            <input class="clearinput user-name form-control font-fam-Montserrat text-center d-block my-4"
                                placeholder="Address" name="contact_address" readonly />
                            <input class="clearinput password form-control font-fam-Montserrat text-center d-block my-4"
                                placeholder="Phone Number" name="phone_number" readonly />
                            <input class="clearinput role form-control font-fam-Montserrat text-center d-block my-4" placeholder="Gender"
                                    name="guest_type_gender" readonly />
                        </div>
                        <div class="float-right w-45 row m-0 justify-content-center">
                            <input ng-model = "guest.inputs.new_guest_name" class="clearinput user form-control font-fam-Montserrat text-center d-block my-4" placeholder="Guest Name"
                                name="new_guest_name" />
                            <input ng-model = "guest.inputs.new_contact_address" class="clearinput user-name form-control font-fam-Montserrat text-center d-block my-4"
                                placeholder="Address" name="new_contact_address"  />
                            <input ng-model = "guest.inputs.new_phone_number" class="clearinput password form-control font-fam-Montserrat text-center d-block my-4"
                                placeholder="Phone Number" name="new_phone_number" type="number" onkeydown="javascript: return event.keyCode !=69 && event.keyCode !=189 && event.keyCode !=109" />
                            <div class="row justify-content-between w-50 py-4">
                                <span class="py-1">
                                    <input type="radio" class="clearinput " id="male" value="male" name="new_guest_type_gender"  ng-model = "guest.inputs.guest_type_gender"/>
                                    <label for="male" class="f-15 ml-2">Male</label>
                                </span>
                                <span class="py-1">
                                    <input type="radio" class="clearinput " checked value="female" name="new_guest_type_gender" id="female"  ng-model = "guest.inputs.guest_type_gender" />
                                    <label for="female" class="f-15 ml-2">Female</label>
                                </span>
                            </div>
                        </div>
                    </form>
                    <div class="modal-footer w-100">
                        <div class="justify-content-center w-100 d-flex flex-column">
                            <div class="py-1 row justify-content-center w-100">
                                <div ng-class="{gone : !settings.modal.adding}"><img src="./assets/img/loader.gif" width="100px"
                                        height="70px" /></div>

                                <button ng-disabled = "!guest.inputs.guest_type_gender && !guest.inputs.new_phone_number && !guest.inputs.new_contact_address && !guest.inputs.new_guest_name" type="button" class="{{settings.modal.adding ? 'gone' : ''}} b-0 btn btn-success"
                                    onclick="updateGuest()">
                                    {{settings.modal.name | limitTo:7}}
                                </button>
                            </div>
                            <div class="row pt-3 justify-content-center">
                                <p class="{{settings.modal.msgcolor}} report f-14">{{settings.modal.msg}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--....... Guest End ......... -->
